#enter{
    position: absolute;
    margin-top: -30px;
    margin-left: -10px;
    height: 1065px;
    width: 2800px;
    z-index: -1;
}

#door{
    position: absolute;
    margin-top: -2px;
    margin-left: 2200px;
    height: 77%;
    width: 25%;
    z-index: +3;
    transition: transform .5s;
    transform-origin: 16%;
}
#door:hover{
    opacity: +1;
    transform-origin: 16%;
    transform: rotateY(45deg);
}

#inside{
    position: absolute;
    margin-top: 75px;
    margin-left: 2275px;
    z-index: +2;
    animation-name: glow;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes glow{
    0% {
        fill: rgb(0, 0, 0);
    }
    25% {
        fill: rgb(66, 66, 66);
    }
    35%{
        fill: rgb(202, 202, 202);
    }
    50% {
        fill: rgb(255, 255, 255);
    }
    65%{
        fill: rgb(201, 201, 201);
    }
    75% {
        fill: rgb(97, 97, 97);
    }
    100% {
        fill: rgb(0, 0, 0);
    }
}

#doorFrame{
    position: absolute;
    margin-top: -1px;
    margin-left: 2200px;
    height: 77%;
    width: 25%;
    z-index: +1;
}


#couch{
    position: absolute;
    margin-top: 400px;
    margin-left: 500px;
    height: 40%;
    width: 50%;
    z-index: +2;
}

#chairShort{
    position: absolute;
    margin-top: 510px;
    margin-left: 1350px;
    height: 42%;
    width: 25%;
    z-index: +1;
}

#chairTall{
    position: absolute;
    margin-top: 350px;
    margin-left: 100px;
    height: 60%;
    width: 30%;
    z-index: +1;
}

#table{
    position: absolute;
    margin-top: 620px;
    margin-left: 580px;
    height: 40%;
    width: 40%;
    z-index: +3;
}

#books{
    position: absolute;
    margin-top: 530px;
    margin-left: 820px;
    height: 17%;
    width: 15%;
    z-index: +4;
}

#frame1{
    position: absolute;
    margin-top: 90px;
    margin-left: 1100px;
    height: 20%;
    width: 12%;
    z-index: +4;
}

#frame2{
    position: absolute;
    margin-top: 50px;
    margin-left: 780px;
    height: 35%;
    width: 20%;
    z-index: +4;
}

#frame3{
    position: absolute;
    margin-top: 150px;
    margin-left: 600px;
    height: 20%;
    width: 12%;
    z-index: +4;
}
